# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# OS cruft
.DS_Store
Thumbs.db

# Logs and backups
*.log
*.out
*.bak
*.swp

# Data files too large for Git
data/*.csv
data/*.tsv
data/*.pth
data/user_feedback.csv
